<mat-nav-list>
  <a mat-list-item>
    <mat-icon matListIcon>build</mat-icon>
    <span mat-line class="nav-caption">Manage words</span>
  </a>  <a mat-list-item>
    <mat-icon matListIcon>list</mat-icon>
    <span mat-line>Manage words</span>
  </a>
  <a mat-list-item>
    <mat-icon matListIcon>person_add</mat-icon>
    <span mat-line>Signup</span>
  </a>
  <a mat-list-item>
    <mat-icon matListIcon>lock_open</mat-icon>
    <span mat-line>Login</span>
  </a>
  <a mat-list-item>
    <mat-icon matListIcon>exit_to_app</mat-icon>
    <span mat-line>Logout</span>
  </a>
</mat-nav-list>
