<mat-nav-list>
  <a mat-list-item
     routerLink="/dictionary"
     (click)="onClose()"
     *ngIf="isAuth$ | async">
    <mat-icon matListIcon>list</mat-icon>
    <span mat-line>Dictionary</span>
  </a>
  <a mat-list-item
     (click)="onClose()"
     routerLink="/login"
     *ngIf="!(isAuth$ | async)">
    <mat-icon matListIcon>lock_open</mat-icon>
    <span mat-line>Login</span>
  </a>
  <a mat-list-item
     (click)="onClose()"
     *ngIf="!(isAuth$ | async)"
     routerLink="/signup">
    <mat-icon matListIcon>person_add</mat-icon>
    <span mat-line>Signup</span>
  </a>
  <a mat-list-item
     *ngIf="isAuth$ | async"
     (click)="onLogout()">
    <mat-icon matListIcon>exit_to_app</mat-icon>
    <span mat-line>Logout</span>
  </a>
</mat-nav-list>
