.header__logo {
  cursor: pointer;
  color: white;

  text-decoration: none;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu-icon {
  margin-right: 10px;
}

.header__logo:hover,
.header__link:hover,
.header__link:active {
  color: lightgray;
}

.header__link {
  cursor: pointer;
  margin: 0;
  padding: 0 16px;

  font-size: 20px;
  line-height: 64px;
  text-decoration: none;
  color: white;
  letter-spacing: 0.3px;
}

.header__link--active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

